body{
    margin: auto;
}

header{
    height: 70px;
    /*border: 2px solid black;*/
    /*background-color: silver;*/
    
}
.navbar-expand-lg{
    height: 70px;
    background-image: url("https://i.ibb.co/ypwbdps/images-back.jpg" );
    background-size: cover;

}

.navbar-brand{
    font-size: 17px;
}

a{ 
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
.nav-link{
    color:blanchedalmond;
}

.navbar-nav{
    margin-top: 1.5%;
}

#icon{
    float: left;
}


#search{
    height: 409px;
    /*border: 2px solid orange;*/
    /*background-image: url("https://i.ibb.co/tmDyLqd/4k-video-footage-of-shelves-stocked-with-various-medicinal-products-in-a-pharmacy.jpg" );*/
    background-image: url("https://i.ibb.co/Y8X8dLK/about.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
    
}


.container1 {
    position: relataive;
    width: 100%;
    
}
  
.container1 img {
    vertical-align: middle;
    width: 100%;
    height: 400px;
}
  
.container1 .content {
    position: absolute;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
  
.container1 .content p{
    margin-top: -10%;
}


.carousel-item > img{
    height: 450px !important;
}


/*#AboutUs{
    height: 540px;
    border: 2px solid rgb(170, 19, 52);
    /*background-image: url("https://i.ibb.co/w4j0WZh/capsules.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}


img{
    display: inline-block;
    width: 100%;
    margin-left: 0%; 
    margin-top: 3%;
    height: 300px;
    border: none;
}*/

.card{
    width: 190%;
}
.card-title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

h2{
    color: #2671f0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 13%;
    font-size: 25px;
}

p{
    text-align: center;
    margin-right: 5%;
    margin-top: 3%;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black; 
    padding-top: 3%; 
    color: darkblue;   
}


.Knowmore{
    height: 350px;
    /*border: 1px solid blue;*/
}
.gallery{
    /*border: 1px solid rgb(230, 95, 95);*/
    float: left;
    width: 340px;
    margin-left: 3%;
    margin-top: 2%;   
}

.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
    width: 95%;
    height: 300px;
    border-radius: 50%;
}

.desc {
    padding: 25px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    
}



.mycontact{
    height: 600px;
    /*border: 1px solid purple;*/
}
h3{
    text-align: center;
    font-size: 23px;
    margin-top: 6%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2671f0;
    margin-right: 17%;
}


 h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    color: #2671f0;
}


.container{
    width: 50%;  
    margin-top: -40%;  
    margin-right: -5%;
}

iframe{
    margin-left: 2%;
} 
.panel-heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2671f0; 
}

.form-control{
    width: 80%;
}

.btn-primary{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #2671f0;
    font-size: 17px;
    margin-top: 3%; 
}


.center{
    margin-left: 35%;
    position: relative;
    margin-bottom: 2%;
}

 textarea {
    width: 80%;
    padding: 12px; 
    margin-top: 7px; 
    margin-bottom: 17px;
    margin-right:12% ;
    resize: vertical 
}
 
.modal-header{
    text-align: center;
}


.modal-body{
    color: #2671f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.modal-footer > .btn{
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
    
}
footer{
    height: 246px;
    /*border: 2px solid lightseagreen;*/
 
}

.footer-menu{
    float: left ;
    margin-top: 3%;
    position: relative;
    
}

.footer-menu a{
    color: black;
    padding: 9px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-menu a:hover{
    color: blue;
}
  